.Post {
    padding: 10px 20px;
    margin: 20px 30px;
    border-radius: 20px;
    box-shadow: 3px 3px #6d6d6d;
    background-color: #ffffff;
    color: #686868;
}
.Post:hover{
    border: 1px solid rgb(170, 170, 170);
}