.UsersPage{

}
.UsersPage > form{
    width:90%;
    padding: 20px 30px;
    margin: 20px 30px;
    border-radius: 20px;
    box-shadow: 3px 3px #6d6d6d;
    background-color: #ffffff;
    color: #686868;
    border: 1px solid rgb(243, 243, 243);
}
.UsersPage > form input{
    display: flex;
    margin: 0 0  20px 0;
}
.UsersPage > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}