body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    background-color: rgba(243, 243, 243, 0.42);
}

.content {
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.users {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

.card {
    width: 180px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(220, 167, 135, 0.75);
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 3px 3px rgba(142, 137, 137, 0.65);
}

.title {

    margin: 20px 20px;
    font-size: 20px;
    font-weight: 600;
}

.item {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #443c3c;
    text-align: center;
}

.btn {
    margin: 20px 0;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px rgba(142, 137, 137, 0.65);
}

.btn:active {
    box-shadow: none;
    position: relative;
    bottom: -3px;
    right: -3px;
}

.posts {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;


}

.cardPost {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(220, 167, 135, 0.75);
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 3px 3px rgba(142, 137, 137, 0.65);
}

.titlePost {
    font-size: 20px;
    font-weight: 600;
}

.bodyPost {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #443c3c;
    text-align: center;
}


.launches {
    width: 90%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.launch {
    width: 360px;
    height: 360px;

    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.launch>img{
    max-width: 200px;
}
.launch>div{
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;
    color: rgba(69, 69, 69, 0.75);
}

